
<!--
	@template = tier
	@title = About
	@keywords = 
	@description = 
-->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
            <div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-size:cover; background-image: url({theme_path}/assets/images/grass-2-resize.jpg)" >
                <div class="container">
                    <div class="c-page-title c-pull-left">
                        <h2 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim">About Us</h2>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="/" class="c-font-white ">Home</a>
                        </li>
                        <li class="c-font-white ">/</li>
                        <li class="c-state_active c-font-white ">About</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
            <!-- BEGIN: PAGE CONTENT -->
            
            <!-- BEGIN: CONTENT/MISC/ABOUT-2 -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 wow animate fadeInUp">
	                        <h1>About us</h1>
                            <p>My name is Braden Cluff, and I set out to make a website to bring all corgi lovers like myself together to share stories, pictures, and other great things about their own corgis.</p>
                            <p>I fell in love with corgis the day I met dexter as a 6 week old puppy. Ever since then my corgi obsession has grown worse and worse. There are many reasons for my obsession, they are cute, fun, quirky, loyal and many many more! I’ve had a 2 other non-corgi dogs in my life and Dexter has been by far the best and my most favorite companion. Dexter is a really funny guy, he has a very human-like personality and you can always tell if he is in a good or bad mood which can be quite hilarious! He loves attention and meeting new people, although when it comes to play time he loves to chase his ball but bringing it back is another story...  </p>
                            <p>To hear more funny storys of Dexter and other Corgis, follow our facebook, twitter, and our corgi blog.</p>
						</div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/MISC/ABOUT-2 -->
            <!-- BEGIN: FEATURES 4.4 -->
<!--
            <div class="c-content-box c-size-md c-no-padding c-white">
                <div class="c-content-feature-4">
                    <div class="c-bg-parallax c-feature-bg c-content-left c-diagonal c-border-right-white" style="background-image: url({theme_path}/assets/images/grass-2.jpg)"></div>
                    <div class="c-content-area c-content-right"></div>
                    <div class="container">
                        <div class="c-feature-content c-right">
                            <div class="c-content-v-center">
                                <div class="c-wrapper wow fadeInDown">
                                    <div class="c-body c-animate">
                                        <div class="c-content-title-1 animated wow fadeInDown" data-wow-delay="0.2s">
                                            <h3 class="c-font-uppercase c-font-bold">The Best of JANGO</h3>
                                            <div class="c-line-right"></div>
                                            <p>Ever growing with constant innovation</p>
                                        </div>
                                        <div class="c-content animated wow fadeInDown" data-wow-delay="0.7s">
                                            <p class="c-margin-b-30"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy tincidunt ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud. </p>
                                            <button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold wow animated fadeIn"
                                            data-wow-delay="1s">EXPLORE</button>
                                            <button class="btn btn-lg c-btn-green c-btn-square c-btn-bold wow animated fadeIn" data-wow-delay="1.3s">PURCHASE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
            <!-- END: FEATURES 4.4 -->
            <!-- END: CONTENT/FEATURES/FEATURES-4-4 -->
            <!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-4 -->
            <div class="c-content-box c-size-md c-bg-grey-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
                                <div class="owl-carousel owl-theme c-theme owl-single">
                                    <div class="item">
                                        <div class="c-content-media-2 c-bg-img-center" style="background-image: url({theme_path}/assets/images/corgi-1.jpg); min-height: 480px;">
                                            <div class="c-panel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="c-content-media-2 c-bg-img-center" style="background-image: url({theme_path}/assets/images/corgi-2.jpg); min-height: 480px;">
                                            <div class="c-panel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="c-content-media-2 c-bg-img-center" style="background-image: url({theme_path}/assets/images/corgi-3.jpg); min-height: 480px;">
                                            <div class="c-panel">                                                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="c-content-media-1" style="height: 380px;">
                                <div class="c-title c-font-uppercase  c-font-bold">Meet Dexter</div>
                                <p>Dexter is a red purebred Pembroke Welsch Corgi. Dexter is 5 years old and loves playing in the snow, fetching toys but not bringing them back, and making new human friends.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/MISC/LATEST-ITEMS-4 -->
                        <!-- BEGIN: FEATURES 4.3 -->
<!--
            <div class="c-content-box c-size-md c-no-padding c-bg-white">
                <div class="c-content-feature-4">
                    <div class="c-bg-parallax c-feature-bg c-content-right c-diagonal c-border-left-white" style="background-image: url({theme_path}/assets/images/sunflower.jpg)"></div>
                    <div class="c-content-area c-content-left"></div>
                    <div class="container">
                        <div class="c-feature-content c-left">
                            <div class="c-content-v-center">
                                <div class="c-wrapper">
                                    <div class="c-body">
                                        <div class="c-content-title-1 wow animate fadeInDown">
                                            <h3 class="c-font-uppercase c-font-bold c-left">Ultra Responsive</h3>
                                            <div class="c-line-left"></div>
                                            <p class="c-left">JANGO has it all</p>
                                        </div>
                                        <div class="c-content">
                                            <p class="c-margin-b-30 c-left wow animate fadeInDown"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy tincidunt ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud. </p>
                                            <button class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold wow animate fadeIn">EXPLORE</button>
                                            <button class="btn btn-lg c-btn-green c-btn-square c-btn-bold wow animate fadeIn" data-wow-delay="0.2s">PURCHASE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
            <!-- END: FEATURES 4.3 -->
          
            <!-- BEGIN: CONTENT/FEATURES/FEATURES-4-3 -->
            <!-- BEGIN: CONTENT/MISC/SERVICES-1 -->
            <div class="c-content-box c-size-md c-bg-grey-1  ">
                <div class="container">
                    <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2" data-height="height">
                                    <div class="c-icon-wrapper">
                                        <i class="fa fa-paw fa-3x"></i>
                                    </div>
                                    <h3 class="c-font-uppercase c-font-bold c-title">Connect</h3>
                                    <p>Connect with fellow corgi enthusiasts.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2" data-height="height">
                                    <div class="c-icon-wrapper">
                                        <i class="fa fa-comments fa-3x"></i>
                                    </div>
                                    <h3 class="c-font-uppercase c-font-bold c-title">Forum</h3>
                                    <p>Stay in touch for our forum thats coming soon!</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2" data-height="height">
                                    <div class="c-icon-wrapper">
                                        <i class="fa fa-pencil-square-o fa-3x"></i>
                                    </div>
                                    <h3 class="c-font-uppercase c-font-bold c-title">Blog</h3>
                                    <p>Follow our blog about corgis.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2" data-wow-delay1="2s" data-height="height">
                                    <div class="c-icon-wrapper">
                                        <i class="fa fa-question-circle fa-3x"></i>
                                    </div>
                                    <h3 class="c-font-uppercase c-font-bold c-title">FAQ</h3>
                                    <p>See the most frequently asked questions about corgis.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-v-center c-theme-bg wow bounceInUp" data-wow-delay1="2s" data-height="height">
                                    <div class="c-wrapper">
                                        <div class="c-body c-padding-20 c-center">
                                            <h3 class="c-font-19 c-line-height-28 c-font-uppercase c-font-white c-font-bold">Support Corgi Community and help us grow!</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="c-content-feature-2" data-wow-delay1="2s" data-height="height">
                                    <div class="c-icon-wrapper">
                                        <i class="fa fa-facebook-square fa-3x"></i>
                                    </div>
                                    <h3 class="c-font-uppercase c-font-bold c-title">Facebook</h3>
                                    <p>Like and Follow our facebook page!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/MISC/SERVICES-1 -->
            <!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
<!--
            <div class="c-content-box c-size-sm c-bg-dark">
                <div class="container">
                    <div class="c-content-subscribe-form-1">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="c-title c-font-30 c-font-uppercase c-font-bold">Subscribe to our newsletter</h3>
                                <div class="c-body c-font-16 c-font-uppercase c-font-sbold">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod</div>
                            </div>
                            <div class="col-sm-6">
                                <form action="#">
                                    <div class="input-group input-group-lg">
                                        <input type="text" class="form-control input-lg" placeholder="Your Email Here">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">SUBSCRIBE</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
            <!-- END: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
            <!-- BEGIN: CONTENT/MISC/ABOUT-2 -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 wow animate fadeInUp">
                            <h2>Braden Cluff</h2>
                            <h2>Founder & Publisher</h2>
                            <h2>Corgi Community</h2>
                            <h2>Contact: thecorgicommunity@gmail.com</h2>
						</div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/MISC/ABOUT-2 -->

            <!-- END: PAGE CONTENT -->
        </div>
        <!-- END: PAGE CONTAINER -->
