
<!--
	@template = tier
	@title = FAQ	
	@keywords = 
	@description = 
-->

 <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
            <div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-size:cover; background-image: url({theme_path}/assets/images/grass-2-resize.jpg)">
                <div class="container">
                    <div class="c-page-title c-pull-left">
                         <h2 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim">FAQ</h3>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li>
                            <a href="#" class="c-font-dark">Home</a>
                        </li>
                        <li class="c-font-dark">/</li>
 
                        <li class="c-state_active c-font-dark">FAQ</li>
                    </ul>
                </div>
            </div>
            <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
            <!-- BEGIN: PAGE CONTENT -->
            <div class="c-content-box c-size-md ">
                <div class="container">
	                <h1>Everything you need to know about Corgis</h1>
                    <div class="cbp-panel">
                        <div id="grid-container" class="cbp cbp-l-grid-faq">
                            <div class="cbp-item buying">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <i class="fa fa-question-circle"></i>What are Welsch Corgis?</div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">Corgis are a small dog breed, that make great pets and farm dogs.
	                                        <br />There are two different breeds of Corgis, the Pembroke and the Cardigan.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item copyright">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <i class="fa fa-paw"></i>Pembroke Welsch Corgis</div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body"> Pembrokes are smaller then cardigans, and have pointed ears. They are intelligent, sturdy and strong, with the stamina to be a house dog, or a farm dog. 
	                                        <br />They have a fox-like face and a short tail. It is common Pembroke have their tail (if one) docked. 
	                                        <br />Pembrokes usually stand 10 inches to 12 inches off the ground and weigh approximently 28 lbs.
	                                     </div>
                                    </div>
                                </div>
                            </div>

							<div class="cbp-item copyright">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <i class="fa fa-paw"></i>Cardigan Welsch Corgis</div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">Cardigans are larger then Pembrokes, and have large rounded ears. They are intelligent, steady, sturdy, mobile, active and alert.
                                            <br />The cardigans have more colors then the Pembroke. The Cardigans have a medium length dense double coat that is more course then Pembrokes, but they have soft thick undercoat and a long foxy like tail.                                            
                                            <br />Cardians weigh on average 30 lbs. and stand about 12 inches off the ground. 
                                        </div>	
                                    </div>
                                </div>
                            </div>

                            <div class="cbp-item community">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <i class="fa fa-map-marker"></i>Where did Corgis come from?</div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">Corgis originated in the country of Wales</div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item author">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <i class="fa fa-home"></i>Why do Corgis make good house pets?</div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            <br/>Aenean justo velit, vulputate a posuere ac, laoreet sed urna. Suspendisse posuere blandit diam condimentum vestibulum. Aenean justo velit, vulputate a posuere ac, laoreet sed urna. Suspendisse posuere blandit
                                            diam condimentum vestibulum. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-item copyright">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <i class="fa fa-leaf"></i>Why do Corgis make good farm/herding dogs?</div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            <br/>Aenean justo velit, vulputate a posuere ac, laoreet sed urna. Suspendisse posuere blandit diam condimentum vestibulum. Sed venenatis ut tortor malesuada condimentum. Donec rhoncus, dolor id luctus feugiat, justo
                                            tortor blandit orci, non ullamcorper velit lectus porta mauris. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: PAGE CONTENT -->
        </div>
