<!--
	@template = main
	@title = Corgi Blog, Shop, and More
	@keywords = corgi, corgi community, corgi blog, dog blog, corgis
	@description = Corgi Community, a corgi blog to connect all corgi lovers.
-->

        <!-- BEGIN: PAGE CONTAINER -->
        <div class="c-layout-page">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
            <section class="c-layout-revo-slider c-layout-revo-slider-4">
                <div class="tp-banner-container c-theme" style="height: 620px">
                    <div class="tp-banner">
                        <ul>
                            <!--BEGIN: SLIDE #1 -->
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                                <img alt="corgi community a corgi blog" title="corgi community a corgi blog" src="{theme_path}/assets/images/corgi-community.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-customin="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-splitin="none" data-splitout="none"
                                data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                                    <h1 class="c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">Welcome to Corgi Community</h1>
                                </div>
                            </li>
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                                <img alt="corgi blog a corgi community" title="corgi blog a corgi community" src="{theme_path}/assets/images/corgi-community.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <div class="caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-customin="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-easing="Back.easeOut" data-splitin="none" data-splitout="none"
                                data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600">
                                    <h3 class="c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">Connect with Fellow Corgi Enthusiasts</h3>
                                </div>
                            </li>
                            <!--END -->
                          </ul>
                    </div>
                </div>
            </section>
            <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
            <!-- BEGIN: CONTENT/FEATURES/FEATURES-1 -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="c-content-feature-1 wow animate fadeInUp">
                                <i class="fa fa-paw fa-4x"></i>
                                <h3 class="c-font-uppercase c-font-bold">Connect</h3>
                                <p class="c-font-thin">Connect with fellow corgi enthusiasts.</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.2s">
                                <i class="fa fa-shopping-cart fa-4x"></i>
                                <h3 class="c-font-uppercase c-font-bold">Shop</h3>
                                <p class="c-font-thin">Check out our shop to see all things corgi.</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.2s">
                               	<i class="fa fa-pencil-square-o fa-4x"></i>
                                <h3 class="c-font-uppercase c-font-bold">Blog</h3>
                                <p class="c-font-thin">Follow our blog about corgis.</p>
                            </div>
                        </div>
                        <div class="col-sm-3 c-card">
                            <div class="c-content-feature-1 wow animate fadeInUp" data-wow-delay="0.4s">
                                <i class="fa fa-question-circle fa-4x"></i>
                                <h3 class="c-font-uppercase c-font-bold">FAQ</h3>
                                <p class="c-font-thin">See the most frequently asked questions about corgis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/FEATURES/FEATURES-1 -->
            
            
            
  
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-content-tab-2 c-theme c-opt-1">                               
                                <div class="c-tab-content">
                                    <div class="c-bg-img-center1 bg-blue">
                                        <div class="container">
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="c-tab2-opt1-1">
                                                    <div class="c-tab-pane">
                                                        <img class="img-responsive" src="{theme_path}/assets/images/me-and-dexter.jpg" alt="corgi community a corgi blog" title="corgi community a corgi blog" />
                                                        <h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">About</h4>
                                                        <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin white-font ">My name is Braden Cluff and I am the owner of a 5 year old corgi named Dexter. I set out to make a corgi website to bring all corgi lovers like myself together to share stories, pictures, corgi blog posts and other great things about their own corgis. </p>
                                                        <p class="c-font-17 c-margin-b-10 c-margin-t-20 c-font-thin white-font ">Corgi Community is the place too:</p>
                                                        	<ul class=" c-theme  white-font">
								                                <li class="white-font">See how awesome corgis are</li>
								                                <li class="white-font">Learn about corgis</li>
								                                <li class="white-font">Make friends with other corgi lovers</li>
								                            </ul>
								                        <p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin white-font">Follow our facebook, instagram, and our corgi blog to stay in touch with corgi community.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
          
            <!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-1 -->
            <div class="c-content-box c-size-md c-bg-grey-1">
                <div class="container">
                    <div class="row" data-auto-height="true">
                        <div class="col-md-4 c-margin-b-30 wow animate fadeInDown">
                            <div class="c-content-media-1" data-height="height">
                                <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Blog</div>
                                <div id="blog_post" itemscope="" itemtype="http://schema.org/BlogPosting">					
                                <a href="/blog/5-reasons-to-own-a-corgi" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">5 reasons why you should own a corgi</a>
                                </div>
                                <p>There are endless reasons on why you should own a corgi, but I have narrowed it down to my top 5 reasons why you should own a corgi.</p>
                                    <div class="c-date"> January 18, 2015 </div>
                            </div>
                        </div>
                        <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.2s">
                            <div class="c-content-media-1" data-height="height">
                                <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Blog</div>
                                <div id="blog_post" itemscope="" itemtype="http://schema.org/BlogPosting">	
                                <a href="/blog/why-corgis-make-the-best-pets" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">Why corgis make the best pets</a>
                                </div>
                                 <p>I get asked all the time if my corgi is a good pet, and the answer I always give is they don’t make a good pet, they make the best pet!</p>
                                <div class="c-date">January 24, 2015 </div>
                            </div>
                        </div>
                        <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.4s">
                            <div class="c-content-v-center c-theme-bg" data-height="height">
                                <div class="c-wrapper">
                                    <div class="c-body c-center">
                                        <h3 class="c-font-25 c-line-height-34 c-font-white c-font-uppercase c-font-bold">Latest Blog Posts</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/MISC/LATEST-ITEMS-1 -->
            <!-- BEGIN: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
<!--
            <div class="c-content-box c-size-sm c-bg-dark">
                <div class="container">
                    <div class="c-content-subscribe-form-1">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="c-title c-font-30 c-font-uppercase c-font-bold">Subscribe to our newsletter</h3>
                                <div class="c-body c-font-16 c-font-uppercase c-font-sbold">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod</div>
                            </div>
                            <div class="col-sm-6">
                                <form action="#">
                                    <div class="input-group input-group-lg">
                                        <input type="text" class="form-control input-lg" placeholder="Your Email Here">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn c-theme-btn c-btn-uppercase btn-lg c-btn-bold c-btn-square">SUBSCRIBE</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
            <!-- END: CONTENT/MISC/SUBSCRIBE-FORM-1 -->
                       
                      <!-- END: PAGE CONTENT -->
        </div>
        <!-- END: PAGE CONTAINER -->
        <!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
        